<body>
<script>
document.getElementById("hiddenSubmit1").type = "submit";
document.getElementById("hiddenSubmit2").type = "submit";
document.getElementById("hiddenSubmit3").type = "submit";
</script>
</body>