<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Employee Recognition Awards System</a>
  <button aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" >
        <a class="nav-link" href="/user_dashboard">User Dashboard</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link active" href="/create_award">Create Award</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/edit_profile">Edit Profile</a>
      </li>
    </ul>
  </div>
  <a href="/logout" >Logout</a>
</nav>

<h1>Create Award</h1>
<p>Please enter award details</p>
<form action="/create_award" method="post">
  <div class="form-group">
    <label>Type</label>
    <select class="form-control" name="type">
      <option value="Week">Employee of the Week</option>
      <option value="Month">Employee of the Month</option>
      <option value="Year">Employee of the Year</option>
    </select>
  </div>
  <div class="form-group">
    <label>Recipient Name</label>
    <input type="text" class="form-control" name="recipient_name">
  </div>
  <div class="form-group">
    <label>Recipient Email Address</label>
    <input type="text" class="form-control" name="recipient_email">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Create Award</button>
</form>
