<!--Hide alert div when its empty -->
<style>
  div:empty {
     display: none;
  }
</style>

<div class="container" style="max-width: 40%;">
  <h1 class="h2">Reset Password</h1>
  <div class="alert alert-success" role="alert">{{info}}</div>
  <form method="post" action="/forgotPassword">
    <div class="form-group">
      <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email" required>
    </div>
    <button class="btn btn-primary mb-2" type="submit">Submit</button>
  </form>
  <br>
  <a href="/login" class="btn btn-outline-secondary" role="button">Return to Login Page</a>
</div>
